<div class="container">

  <div class="cards mt-4">
    <% @decorations.each do |decoration| %>
      <%= link_to decoration_path(decoration) do %>
        <div class="card mr-2" style="width: 350px; height: 450px;">
          <% if decoration.photo.attached? %>
            <%= cl_image_tag decoration.photo.key%>
          <% end %>
          <div class="card-body">
            <div>
              <h5 class="card-title"><%= decoration.name.capitalize %> </h5>
              <p class="card-text">A partir de <%= decoration.price %> €</p>
            </div>
            <i class="fas fa-long-arrow-alt-right"></i>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>

  <div class="mt-5">
    <% if user_signed_in? %>
      <%= link_to 'Add a decoration', new_decoration_path, class: "btn-main" %>
    <% else %>
    <% end %>
  </div>
</div>
<div class="instagram mt-5">
     <p><%= t('index.text') %></p>
</div>

