<div class=" navbar-Up">
    <div class="contacts ml-2">
      <p class="mt-3">addressmail@ummiq.com</p>
      <p>+33 6 71 48 49 20</p>

    </div>
    <div class="slogan">
      <p class="mt-3 ml-3"><strong>The sea enters your house</strong></p>
      <p><strong>Visit our showroom in Bondues</strong></p>
    </div>
    <div class="help mr-2">
      <p class="mt-3 ml-5">Need Help ?</p>
      <p>Talk with our experts</p>
    </div>
  </div>
</div>

<!-- <div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <h1>Ummiq</h1>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">


      <li class="nav-item dropdown mt-2 ">
        <p class="link dropdown-toggle" id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" src="https://kitt.lewagon.com/placeholder/users/ssaunier"> Furnitures </p>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="furnitures">All Furnitures</a>
          <a class="dropdown-item" href="#"> Tables</a>
        </div>
      </li>

      <li class="nav-item dropdown mt-2 ml-3">
        <p class="link dropdown-toggle" id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" src="https://kitt.lewagon.com/placeholder/users/ssaunier"> Accesories </p>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="accessories">All Accessories</a>
          <a class="dropdown-item" href="#"> Plateaux</a>
        </div>
      </li>

      <li class="nav-item dropdown mt-2 ml-3">
        <p class="link dropdown-toggle" id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" src="https://kitt.lewagon.com/placeholder/users/ssaunier"> Lights </p>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="lights">All Lights</a>
          <a class="dropdown-item" href="#"> other things</a>
        </div>
      </li>

      <li class="nav-item dropdown mt-2 ml-3">
        <p class="link dropdown-toggle" id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" src="https://kitt.lewagon.com/placeholder/users/ssaunier"> Decorations </p>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="decorations">All Decorations</a>
          <a class="dropdown-item" href="#"> Patata</a>
        </div>
      </li>

      <li class="mt-2 ml-3"> <%= link_to 'Designers', designers_path %> </li>










      <% if user_signed_in? %>
        <li class="nav-item active mt-2 mr-3 ml-3">
          <%= link_to "Home", root_path %>
        </li>
        <li class="nav-item dropdown">
          <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <%= link_to "Action", "#", class: "dropdown-item" %>
            <%= link_to "Another action", "#", class: "dropdown-item" %>
            <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
          </div>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "Login", new_user_session_path, class: "nav-link" %>
        </li>
      <% end %>
    </ul>
  </div>
</div> -->

<div class="navbar-ws">
  <%= image_tag "Ummiq-logo.jpg" %>
  <div class="navbar-content-ws ">
    <a href="/">Home</a>
    <a href="designers">Designers</a>

    <div class="dropdown-ws">
      <button class="dropbtn-ws">Furnitures
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content-ws">
        <a href="furnitures">All furnitures</a>
        <a href="#"> Tables</a>
        <a href="#"> Consoles</a>
        <a href="#"> Tables Basses</a>
        <a href="#"> Bancs</a>
        <a href="#"> Chaises et Fauteuils</a>
      </div>
    </div>

    <div class="dropdown-ws">
      <button class="dropbtn-ws">Accessories
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content-ws">
        <a href="accessories">All accessories</a>
        <a href="#"> Plateaux</a>
        <a href="#"> others</a>
      </div>
    </div>

    <div class="dropdown-ws">
      <button class="dropbtn-ws">Lights
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content-ws">
        <a href="lights">All lights</a>
        <a href="#"> Tables</a>
        <a href="#"> Chairs</a>
      </div>
    </div>

    <div class="dropdown-ws">
      <button class="dropbtn-ws">Decorations
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content-ws">
        <a href="decorations">All decorations</a>
        <a href="#"> Tables</a>
        <a href="#"> Chairs</a>
      </div>
    </div>
  </div>
</div>


