<div class="container">
  <div class="designer-infos mt-5 ml-5 ">
    <h1 class="mt-5">
      <strong>
      <%= @designer.name %>
      </strong>
    </h1>

      <% if @designer.photo1.attached? %>
        <img class="designer-bordered ml-5">
        <%= cl_image_tag @designer.photo1.key, height: 400, width: 400, crop: :fill %>

      <% end %>
  </div>

    <div class=" designer-text-pics ml-5 mt-5">
      <%= @designer.description %>
      <%= cl_image_tag @designer.photo2.key, height: 300, width: 400, crop: :fill %>
      <h1> Notre Engagement </h1>
      <%= @designer.engagement %>
      <%= cl_image_tag @designer.photo3.key, height: 300, width: 400, crop: :fill %>
      <h1> Notre Guarantie </h1>
      <%= @designer.guaranty %>
      <%= cl_image_tag @designer.photo4.key, height: 300, width: 400, crop: :fill %>
      <h1> Notre Histoire </h1>
      <%= @designer.history %>
      <h1> Developement </h1>
      <%= @designer.development %>
    </div>




  <div class="mt-5">
    <h1> Nos favoris de <%= @designer.name %> </h1>
  </div>

  <div class="cards">
    <div class="product-cards">
      <%= @designer.furnitures.last(3).each do |furniture|  %>
        <%= link_to furniture_path(furniture) do %>
            <div class="card mr-2" style="width: 350px; height: 450px;">
              <% if furniture.photo1.attached? %>
                <%= cl_image_tag furniture.photo1.key%>
              <% end %>
              <div class="card-body">
                <div>
                  <h5 class="card-title"><%= furniture.name.capitalize %> </h5>
                  <p class="card-text">A partir de <%= furniture.price %> €</p>
                </div>
                <i class="fas fa-long-arrow-alt-right"></i>
              </div>
            </div>
          <% end %>
        <% end %>
    </div>
  </div>



   <div class="icons">
          <% if user_signed_in? %>
            <%= link_to designer_path(@designer), method: :delete, data: { confirm: "Are you sure?" } do %>
              <i class=" link far fa-trash-alt" style="font-size: 20px;color: #132743;"></i>
            <% end  %>
            <%= link_to edit_designer_path(@designer) do %>
              <i class="fas fa-pen" style="font-size: 17px;color: #132743;"></i>
            <% end %>
          <% else %>
          <% end %>
   </div>  <a class="btn btn-main mt-5" href="../designers">Back</a>
</div>
