<div class="container">
  <div class="designer-infos mt-5 ml-5 ">
    <h1 class=" designer-name mr-5">
      <strong>
      <%= @designer.name %>
      </strong>
    </h1>

      <% if @designer.photo1.attached? %>
        <img class="designer-bordered ml-5"
        <%= cl_image_tag @designer.photo1.key, height: 400, width: 400, crop: :fill %>

      <% end %>
  </div>

  <div class="designer-texts">
    <div class=" designer-description ml-5 mt-5">
      <p>
        <%= @designer.description %>
      </p>
      <div class=" image-2 mt-5 mb-5">
        <%= cl_image_tag @designer.photo2.key%>
      </div>
    </div>
    <div  class=" designer-engagement ml-5 mt-5">
      <h1> Notre Engagement </h1>
      <p>
        <%= @designer.engagement %>
      </p>
      <div class="image-3 mt-5 mb-5">
        <%= cl_image_tag @designer.photo3.key, height: 500, width: 800, crop: :fill %>
      </div>
    </div>
    <div class="designer-guaranty ml-5 mt-5">
      <h1> Notre Guarantie </h1>
      <p>
        <%= @designer.guaranty %>
      </p>
      <div class="image-4 mt-5 mb-5">
        <%= cl_image_tag @designer.photo4.key, height: 500, width: 800, crop: :fill %>
      </div>
    </div>
    <div class="designer-story mt-5 ml-5">
      <h1> Notre Histoire </h1>
      <p>
        <%= @designer.history %>
      </p>
    </div>
    <div class="designer-development d-block mt-5 ml-5">
      <h1> Developement </h1>
      <p>
        <%= @designer.development %>
      </p>
    </div>
  </div>





  <div class="mt-5">
    <h1> Nos favoris de <%= @designer.name %> </h1>
  </div>

    <div class="cards mt-5 ml-5">
    <% Furniture.all.sample(3).each do |furniture| %>
      <%= link_to furniture_path(furniture) do %>
        <div class="card mr-2" style="width: 350px; height: 450px;">
          <% if furniture.photo1.attached? %>
            <%= cl_image_tag furniture.photo1.key%>
          <% end %>
          <div class="card-body">
            <div>
              <h5 class="card-title"><%= furniture.name.capitalize %> </h5>
              <p class="card-text">A partir de <%= furniture.price %> €</p>
            </div>
            <i class="fas fa-long-arrow-alt-right"></i>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>



   <div class="icons">
          <% if user_signed_in? %>
            <%= link_to designer_path(@designer), method: :delete, data: { confirm: "Are you sure?" } do %>
              <i class=" link far fa-trash-alt" style="font-size: 20px;color: #132743;"></i>
            <% end  %>
            <%= link_to edit_designer_path(@designer) do %>
              <i class="fas fa-pen" style="font-size: 17px;color: #132743;"></i>
            <% end %>
          <% else %>
          <% end %>
   </div>  <a class="btn btn-main mt-5" href="../designers">Back</a>
</div>
