<div class="container">



  <H1 class="mt-5"> <%=  t('show-about.about')%> </H1>
  <p class="mt-5">
    <%=  t('show-about.about-text')%>
  </p>

  <h2 class="mt-5"> <%=  t('show-about.find') %></h2>



  <div class="mail d-flex mt-5">
    <i class="fas fa-envelope mt-1"></i>
    <p class="ml-3"> <u> Mail:</u> contact@ummiq.com / franck.welcomme@ummiq.com</p>
  </div>

  <div class="tel mt-2 d-flex">
    <i class="fas fa-phone mt-1"></i>
    <p class="ml-3"> <u> <%= t('show-about.phone') %> </u> +33 6 84 78 20 74</p>

  </div>

  <div class="tel mt-2 mb-5 d-flex">
    <i class="fas fa-map-marker-alt"></i>
    <p class="ml-3"> <u> <%= t('show-about.adress') %> </u> 92 Avenue d'Amsterdam 59910 Bondues</p>
  </div>

  <div class="Mentions">
    <h1 class=" mb-5">Mentions Légales </h1>
    <p>Ummiq: Société par actions simplifiée au capital social de 5 000,00 Euros</p>
    <p>Adresse du siège: P A Ravennes les Francs 92 avenue d'Amsterdam 59910 Bondues</p>
    <p>RCS: 883 920 159 R.C.S. Lille Métropole </p>
    <p>Numero TVA intracommunautaire: FR00883920159 </p>
    <h3 class="mb-5 mt-5">L'hebergeur:</h3>
    <p>OVH</p>
    <p>Siège social : 2 rue Kellermann - 59100 Roubaix - France</p>
    <p>Téléphone: 1007</p>
  </div>

</div>
