<div class="container mt-5">
  <%= simple_form_for(@light) do |f| %>
    <%= f.input :name %>
    <%= f.input :description %>
    <%= f.input :price %>
    <%= f.input :measure %>
    <%= f.input :category %>
    <%= f.submit %>
  <% end %>
</div>
