<div class="container">

  <div class="cards mt-4">
    <% @lights.each do |light| %>
      <%= link_to light_path(light) do %>
        <div class="card mr-2" style="width: 350px; height: 450px;">
          <% if light.photo.attached? %>
            <%= cl_image_tag light.photo.key%>
          <% end %>
          <div class="card-body">
            <div>
              <h5 class="card-title"><%= light.name.capitalize %> </h5>
              <p class="card-text">A partir de <%= light.price %> €</p>
            </div>
            <i class="fas fa-long-arrow-alt-right"></i>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>

  <div class="mt-5">
    <% if user_signed_in? %>
      <%= link_to 'Add a light', new_light_path, class: "btn-main" %>
    <% else %>
    <% end %>
  </div>
</div>
<div class="index-text mt-5">
    <H1><%= t('index.text') %></H1>
</div>
