<div class="container mt-5">
  <%= simple_form_for(@accessory) do |f| %>
    <%= f.input :name %>
    <%= f.input :description %>
    <%= f.input :price %>
    <%= f.input :measure %>
    <%= f.input :category %>
    <%= f.input :designer_id, collection: @designers %>
    <%= f.input :photo1, as: :file %>
    <%= f.input :photo2, as: :file %>
    <%= f.input :photo3, as: :file %>
    <%= f.submit %>
  <% end %>
</div>
