<div class="container">
   <h2 class="title mt-5 mb-5"> <strong> <%= @furniture.name %> </strong> </h2>

  <div class="furniture">
    <div class="furnitures-pictures ml-5">
      <figure class="icon-cards mt-3">
        <div class="icon-cards__content">
          <div class="icon-cards__item d-flex align-items-center justify-content-center"><img <%= cl_image_tag @furniture.photo1.key %>  </div>
          <div class="icon-cards__item d-flex align-items-center justify-content-center"><img <%= cl_image_tag @furniture.photo2.key %>  </div>
          <div class="icon-cards__item d-flex align-items-center justify-content-center"><img <%= cl_image_tag @furniture.photo3.key %>  </div>

        </div>
      </figure>
    </div>


    <div class="furniture-infos d-block  mt-3 ml-5">
      <p><Strong>Description</Strong></p>
      <p><%= @furniture.description %></p>
      <p><Strong>Measures</Strong></p>
      <p><%= @furniture.measure %></p>
      <p><Strong>Price</Strong></p>
      <p> A partir de <%= @furniture.price %> €</p>
      <p><Strong>Service</Strong></p>
      <p>Nous vous conseillons blablabla</p>
      <p>A unique piece created by <%= @furniture.designer.name %> </p>

      <div class="icons">
        <% if user_signed_in? %>
          <%= link_to furniture_path(@furniture), method: :delete, data: { confirm: "Are you sure?" } do %>
            <i class=" link far fa-trash-alt" style="font-size: 20px;color: #132743;"></i>
          <% end  %>
          <%= link_to edit_furniture_path(@furniture) do %>
            <i class="fas fa-pen" style="font-size: 17px; color: #132743;"></i>
          <% end %>
        <% else %>
        <% end %>
      </div>
    </div>
  </div>


  <a class="btn btn-main mt-5" href="../furnitures">Back</a>
</div>

